//! **************************************************************************
// Written by: Map P.20131013 on Tue May 14 15:45:22 2019
//! **************************************************************************

SCHEMATIC START;
COMP "stop" LOCATE = SITE "K17" LEVEL 1;
COMP "clk" LOCATE = SITE "R17" LEVEL 1;
PIN clk_pin<0> = BEL "clk" PINNAME PAD;
PIN "clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "count" LOCATE = SITE "L14" LEVEL 1;
COMP "current_state<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "current_state<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "start" LOCATE = SITE "L13" LEVEL 1;
COMP "current_state<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "out<0>" LOCATE = SITE "E17" LEVEL 1;
COMP "out<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "out<2>" LOCATE = SITE "F4" LEVEL 1;
COMP "out<3>" LOCATE = SITE "R4" LEVEL 1;
COMP "rst" LOCATE = SITE "E18" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

