//! **************************************************************************
// Written by: Map P.20131013 on Tue May 07 15:50:03 2019
//! **************************************************************************

SCHEMATIC START;
NET "l_BUFGP/IBUFG" BEL "l_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

